{% if paginator.total_pages > 1 %}
<div class="pagination">
  <a class="button" href="/posts">All Posts</a>
  {% if paginator.previous_page %}
    <a class="button" href="{{ paginator.previous_page_path }}">&laquo;</a>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <a class="button current">{{ page }}</a>
    {% elsif page == 1 %}
      <a class="button" href="/">{{ page }}</a>
    {% else %}
      <a class="button" href="{{ site.paginate_path  | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="button" href="{{ paginator.next_page_path }}">&raquo;</a>
  {% endif %}
</div>
{% endif %}
